.section.contacts(data-anchor="fourthPage")
    .row
        .contacts-logo.is-animated-left
            img(src="img/general/logo_red.svg" alt="Lil Bling")
        .contacts-wrap.is-animated-bottom
            +b.contacts-info.is-animated-right
                +e.H4.heading GET&nbsp;IN&nbsp;TOUCH
                +e.P.item COLLABORATION&nbsp;&amp;&nbsp;sales:
                +e.A.item(href="mailto:lilblingbeatz@gmail.com") lilblingbeatz@gmail.com
                +e.P.item.modal-open booking
                +e.P.item ...
                +e.P.item
                    +e.A.link(href="https://vk.com/id31282401" target="_blank") Designed
                    span &nbsp;&amp;&nbsp;
                    +e.A.link(href="https://vk.com/id3271022" target="_blank") dev
    a.privacy-policy.is-animated-bottom(href="#!") Privacy Policy