div(class="section pricing" data-anchor="thirdPage")
    .wrapper
        +b.section-header.row
            +e.logo-and-menu
                +e.IMG.logo.is-animated-left(src="img/general/logo_red.svg" alt="Lil Bling")
                +b.menu._color_gray.menu-toggle.is-animated-left
                    +b.hamburger._steps
                        +e.SPAN.line._color_gray
                        +e.SPAN.line._color_gray
                        +e.SPAN.line._color_gray
                    +e.SPAN.text Menu
            +e.heading
                h6(class="is-animated-right") LIL BLING PRODUCTION
                h1(class="is-animated-right") PRICING
        .row.card-row
            +b.card.col.is-animated-bottom
                +e.content
                    +e.H5.title MP3 Lease
                    +e.P.info MP3
                    +e.P.info 2500 Units
                    +e.P.info Yes
                    +e.P.info Belong to Lil Bling
                    +e.P.info Prod by Lil Bling
                    +e.P.price 18
            +b.card.col.is-animated-bottom
                .popular-pricing MOST POPULAR
                +e.content
                    +e.H5.title WAV Lease
                    +e.P.info MP3, WAV
                    +e.P.info 5000 Units
                    +e.P.info Yes
                    +e.P.info Belong to Lil Bling
                    +e.P.info Prod by Lil Bling
                    +e.P.price 35
            +b.card.col.is-animated-bottom
                +e.content
                    +e.H5.title TrackOut
                    +e.P.info MP3, WAV, WAV trackouts
                    +e.P.info 10000 Units
                    +e.P.info Yes
                    +e.P.info Belong to Lil Bling
                    +e.P.info Prod by Lil Bling
                    +e.P.price 60
            +b.card.col.is-animated-bottom
                +e.content
                    +e.H5.title Unlimited
                    +e.P.info MP3, WAV, WAV stems contract
                    +e.P.info Unlimited
                    +e.P.info Yes
                    +e.P.info Belong to Lil Bling
                    +e.P.info Recieve signed contract
                    +e.P.price 100
            +b.card.col.is-animated-bottom
                +e.content
                    +e.H5.title Exclusive
                    +e.P.info MP3, WAV, WAV stems contract
                    +e.P.info Unlimited
                    +e.P.info Artist / Customer maintains full ownership of the instrumental
                    +e.P.info Recieve signed contract
                    +e.P.price Varies