extends ../layout/main

block variables
	- var title = 'Production by Lil Bling. Buy beats online'
block content
	#fullpage
		include ../components/sections/entrySection
		include ../components/sections/beatsPlayer
		include ../components/sections/pricing
		include ../components/sections/contacts