$white: #fff;

$gray: #4C4B48;

$menuWhiteHover: #b5b2b1;

$menuGrayHover: #a7a6a3;

$underlogo-text-color: #fefeff;

$red: #5f0d15;

$sectionsBackground: #D8D3D5;

$card-bg: #D2CACC;

$card-info: #171717;

$card-category: #7a7070;

$pricing-border: #AFABAA;

$bucks: #4e4d4b;

$primaryFormColor: #666363;

$inputsActionColor: #b4a2a2;

$formWarningMessage: #ff0000;

$menuItemHover: #DFB8C0;