.mouse {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 14px;
  height: 21px;
  border: solid 2px #fff;
  border-radius: 25px;
  -webkit-animation: scroll-mouse 1.5s;
  animation: scroll-mouse 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  cursor: pointer;
  .scroll-down {
    display: block;
    width: 3px;
    height: 3px;
    background: #fff;
    border-radius: 50%;
    margin: 15% auto auto auto;
    animation: scroll-inner 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease
  }
}

@keyframes scroll-inner {
  from {
    margin-top: 15%;
  }
  to {
    margin-top: 50%;
  }
}